*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
}
nav{
  height: 110px;
  background: #fff;
}
nav img{
  width: 380px;
  height: 120px;
  position: absolute;
  top: 6px;
  left: 2%;
}
nav ul{
  float: right;
  margin-right: 25px;
}
nav ul li{
  display: inline-block;
  line-height: 110px;
  margin: 0 15px;
}
nav ul li a{
  position: relative;
  color: #000;
  font-size: 18px;
  padding: 5px 0;
  text-transform: uppercase;
}
nav ul li a::before{
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background: #000;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .4s linear;
}
nav ul li a:hover::before{
  transform: scaleX(1);
  transform-origin:left;
}


label #btn, label #cancel{
  color: #000;
  font-size: 30px;
  float: right;line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
.banner {
    background-image: url("skole2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 200px;
}

.bannerText {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20pt;
    padding: 20px 5px;
}

.textImg {
    padding: 10px;
    width: 150px;
    height: 50px;
}
@media (max-width:1265px) {
  nav img{
    left:1%;
    top:5px;
    width: 330px;
    height: 110px;
  }
  nav ul li a{
    font-size: 17px;

  }
}
@media (max-width:1265px) {
  label #btn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100mvh;
    background: #fff;
    top: 90px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display:block;
    margin: 50px 0;
    line-height: 20px;
  }
  nav ul li a{
    font-size: 20px;
  }
  
  #check:checked ~ ul{
    left: 0;
  }
  #check:checked ~  label #btn{
    display: none;
  }
  #check:checked ~  label #cancel{
    display: block;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  padding: 5px;
}

.column {
  box-sizing: border-box;
  flex: 33.3%;
  max-width: 33.3%;
  padding: 5px;
}

.column img {
  margin-top: 10px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
    min-height: 70vh;
    max-height: 80vh;
  }
}

.container-one {
  background-image: url("azur.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
}

.button-one {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  background-color: rgba(0, 191, 221, 0.5);
  border: none;
  text-align: left;
  padding: 10px;
}

.container-two {
  background-image: url("yellow2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
}

.button-two {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  background-color: rgba(255,220,0,0.6);
  border: none;
  text-align: left;
  padding: 10px;
}

.container-three {
  background-image: url("red2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
}

.button-three {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  background-color: rgba(255, 0, 0, 0.3);
  border: none;
  text-align: left;
  padding: 10px;
}

.container-four {
  background-image: url("green2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
}

.button-four {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  background-color: rgba(0, 157, 25, 0.5);
  border: none;
  text-align: left;
  padding: 10px;
}

.container-five {
  background-image: url("blue.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
}

.button-five {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  background-color: rgba(57, 116, 255, 0.3);
  border: none;
  text-align: left;
  padding: 10px;
}

h2 {
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18pt;
}

p {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: white;
}
